<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jsp2</display-name>
  <!-- web.xml은 배포기술(Deploy Descriptor) 파일이고 서버의 web.html 값 중에서
  현재 애플리케이션 설정을 변경할 항목 작성 -->
  
  <!-- 웹 컴파일 리스트는 http://localhost:8080/jsp2/ 와 같이 컨택스트 path만 있고
   요청에 특정 jsp, html, htm 등의 파일을 지정하지 않을때 실행할 페이지를 목록에서 순서대로 처리 
   WebContent 폴더 아레에 index.jsp 만들어서 실행 확인. 아래 목록의 파일들이 모두 없으면
   http://localhost:8080/jsp2/ 이 요청은 404 Not Found 오류 -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- session 타임아웃 시간 : 서버는 30분.
  5분으로 설정 변경 -->
  <session-config>
  	<session-timeout>5</session-timeout>
  </session-config>
  
  <!-- 에러페이지 설정하기 : HTTP 상태코드(404, 500 오류코드 지정) 또는 Exception 종류에 따라 하거나
  				모든 에러(오류)에 대해 하나의 파일(페이지) 사용 
  				에러(Exception)가 발생하면 설정된 오류페이지 포워드(전달) url이 변경되지 않는다. -->
  				
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/error404.jsp</location>
  </error-page>
  <error-page>
  	<exception-type>java.lang.Exception</exception-type>
  	<location>/error/errorAll.jsp</location>
  </error-page>
</web-app>